@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+20&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey 20', cursive;
}

body {
    height: auto;
    background: url("../midia/background.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container central */
.conteiner {
    color: white;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#band {
    position: absolute;
    right: -8em;
    top: 30%;
    width: 9em;
}

/* Título estilo pixel + inclinado */
h1 {
  font-size: 70px;
  color: #ffffff;

  /* contorno escuro pixelado */
  text-shadow:
    2px 0 #000,
    -2px 0 #000,
    0 2px #000,
    0 -2px #000,
    2px 2px #000,
    -2px -2px #000,
    2px -2px #000,
    -2px 2px #000,

    /* sombra estilo bloco (profundidade) */
    4px 4px 0 #707070,
    6px 6px 0 #222;

  letter-spacing: 2px;
}

#bomb{
    position: absolute;
    right: 34em;
    top: 33%;
    width: 10em;
}



/* Botão estilo retrô */
button {
    font-size: 20px;
    padding: 10px 30px;
    background: #dcdcdc;
    border: 3px solid #555;
    background: #c0c0c0;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #7a7a7a;
    border-bottom: 3px solid #7a7a7a;
    cursor: pointer;
    transition: 0.1s;
}

/* efeito hover */
button:hover {
    background: #e6e6e6;
}

/* Efeito ao clicar */
button:active {
    transform: translate(4px, 4px);
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #7a7a7a;
    border-bottom: 3px solid #7a7a7a;
}

/* Layout tipo menu */
.conteiner button {
    margin: 20px;
}

.facul{
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    justify-content: center;
}